body {
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.app {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
}

.app-title {
  display: flex;
  align-items: center;
  color: rgb(42, 104, 238);
}

.app-title > span {
  margin-left: 5px;
}

.tags-wrapper {
  background-color: rgb(253, 253, 253);
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 400px;
  cursor: text;
  border-radius: 5px;
}

.tags-selected {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.single-tag {
  padding: 5px 8px;
  background-color: rgb(42, 104, 238);
  color: #fff;
  margin-right: 10px;
  /* margin-bottom: 10px; */
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
}

.close {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-input {
  background-color: transparent;
  border: none;
  font-style: 16px;
  flex: 1;
  outline: none;
  /* margin-bottom: 10px; */
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  background-color: rgb(42, 104, 238);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
